#topOverlay {
    background-color: gray;
    height: 200px;
    width: 260px;
    position: absolute;
    border-radius: 5px;
    margin-left: -3px;

}

#bottomLayer {
    /* background-color: lightblue; */
    height: 300px;
    width: 260px;
    margin-left: 10px;
    margin-top: 45px;
    border-radius: 5px;
}

@media (min-width:1024px) {
   #topOverlay {
    height:330px;
    width:484px;
    margin-left: -15px;

   }
   #bottomLayer {
    height: auto;
    width: 480px;
    padding-bottom: 11px;
   }
}