#biographySection {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.traitCard {
    display: flex;
    height: 150px;
    width: 180px;
    background-color: white;
    justify-content: center;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1)
}